html {
  font-size: 10px;
}

body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  color: #343434;
  margin: 0;
}

img {
  max-width: 60%;
}

nav {
  background-color: #ccc; /* Màu nền */
  overflow: hidden;
  max-height: 81px;
}

nav a,
nav li {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  padding: 0px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

nav > ul > li :hover {
  background-color: #555;
}

nav > ul > li :active {
  background-color: #4caf50;
  color: white;
}

figure ul {
  line-height: 2;
}

ul {
  list-style-type: none;
}

section {
  max-width: 60%;
  margin: auto;
}

#grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.image {
  max-height: 300px;
}
